<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            HTML/CSS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 50%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C
        </div>
        <div class="progress">
            <span class="green" style="width: 65%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Networking
        </div>
        <div class="progress">
            <span class="blue" style="width: 75%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Reverse engineering 
        </div>
        <div class="progress">
            <span class="red" style="width: 20%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Linux
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 71%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Being annoying
        </div>
        <div class="progress">
            <span class="grey" style="width: 100%;"></span>
        </div>
    </div>
</section>
